body {
}

.CellStyle{
    position:absolute; 
    left:5%; 
    right:5%; 
    width:90%;
    font-size:20pt;
}

.Button{
    position:absolute;
    color:white;
    background:red;
    border: 2px solid white;
    height:5%;
}

.Label{
    position:absolute;
    font-size:20pt;
    top:12px;

}
