body 
{
	background-color: #ffffff;
}
.CellStyle
{
    position: absolute;
    background: #ebfafa;
    border: 0.5px solid #000000;
    border-radius: 10px;
    font-family: Arial, Helvetica;
    font-size: 18pt;
    color: #000000;
    text-align: left;
    left:5%;
    right:5%;
    width: 90%;
}

.Label{
    position:absolute; 
    text-align:center;
    width:90%; 
    left:5%; 
    right:5%; 
    color:red; 
    font-size:60pt;
    font-weight:bold;
    text-shadow: 2px 2px #000000;
}

.Buttons{

}
