body 
{
	background: white;
}
.CheckoutFrame
{
    position:absolute;
    height:60%; 
    width:40%; 
    border: solid 1px #002594;
}
.Buttons
{
    position: absolute;
    height: 25px;
	font-family: Arial, Helvetica;
    font-size: 10pt;
    background-color:lavender;
    color: #002594;
    border: solid 1px #002594;
}
 