body {
    background-image: url("Black Background.jpg");
    background-size: cover;
}

.MainFrame{
    position:absolute;
    background: white;
    top:10%;
    height:85%;
    width:100%;
    left: -0.4%;

}

.Buttons{
       position:absolute;
       height: 6%;
       font-family:Arial, Helvetica, sans-serif;
       font-size:18pt;
       background-color: red;
       border-radius: 25%;
       color: white;
       border: solid 2px white;
}
.Buttons:hover{
    background-color:white;
    color: red;
    border: solid 2px red;
}

.Logo{
    position: absolute;
    width:20%;
    height:8%;
}
