body {

}
.Panels{
    position: absolute;
    border: solid 1px black;

}

.Labels
{
	position: absolute;
	font-family: Arial, Helvetica;
    font-size: 20pt;
    color: black;
    text-align: left;
}

.TextBoxes
{
	position: absolute;
	border: solid 1px black;
    font-family: Arial, Helvetica;
    font-size: 20pt;
    color: black;
    text-align: left;
    padding-left:5px;
}
.Buttons{
    font-size: 18pt;
    position: absolute;
    color:white;
    background:red;
    border:2px solid white;
}

.Buttons:hover{
    color:red;
    background:white;
    border:2px solid red;
}

.Images{
    position: absolute;
    border: solid 1px black;
}